body{
    background: linear-gradient(45deg, rgb(105, 104, 104), rgb(109, 114, 109) 40%, rgb(62, 201, 81));
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#container{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.header{
    background: rgb(66,66,66);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px; 
}

img{
    margin: 0;
}

#menu{
    display: flex;
    list-style: none;
    margin-bottom: 0px;
    margin-top: 25px;

}

#menu li{
    margin-left: 0px;
}

#menu li a{
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 0px;
    color:rgb(15, 231, 15);
    
}

form{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}



#logo{
    height: 80px;
    width: 130px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;

}

h1{
    display: flex;
    flex-direction: row;
    margin-left: 8px;
}

#p1{
    display: inline;
    inline-size: 500px;
    margin-left: 30px;

}

#np{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 48, 48);
    margin-left: 20px;
    margin-right: 20px;
}

#dv1{
    padding: 5px;
}

#label1{
    margin-right: 30px;
}

#inp1{
    width: 250px;
}

#dv2{
    padding: 5px;
}

#label2{
    margin-right: 132px;
}

#dv3{
    padding: 5px;
}

#label3{
    margin-right: 139px;
}

#dv4{
    padding: 5px;
}

#label4{
    margin-right: 72px;
}

#end{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    background:rgb(48, 48, 48);
    
}

#dv5{
    padding: 5px;
}

#dv6{
    padding: 5px;
}

#dv7{
    padding: 5px;
}

#dv8{
    padding: 5px;
}

#dv9{
    padding: 5px;
}

#dv10{
    padding: 5px;
}

#cont{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    background:rgb(48, 48, 48);   
}

#dv11{
    padding: 5px;
}

#dv12{
    padding: 5px;
}

#dv13{
    padding: 5px;
}

#rede{
    margin-right: 900px;
    border-radius: 20px;
    background-color: rgb(65, 65, 65); 
}

#btn1{
    margin: 10px;
    margin-left: 1000px;
    margin-bottom: 200px;
    border: 0px solid transparent;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 27px;
    padding-right: 27px;
    font-size: 18px;
    background-color: rgb(65, 65, 65);
    color: white;
    
}

#dv19{
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
}

#term{
    color: rgb(15, 231, 15);    
}

